{% extends 'base_registration.html' %}
    {% block content %}
        <form method="POST">
          {% csrf_token %}
            {% for field in user_form %}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
              <div class="form-group">
              <div class="input-group">
              <span class="input-group-addon">
                {% if field == user_form.username %}
                  <i class="fa fa-user ti-user"></i>
                {% endif %}
                {% if field == user_form.email %}
                  <i class="fa fa-envelope"></i>
                {% endif %}
                {% if field == user_form.password or field == user_form.password2 %}
                  <i class="fa fa-lock ti-unlock"></i>
                {% endif %}
              </span>
                {{ field }}
                </div>
                </div>
              {% endfor %}
          <button class="btn btn-primary btn-block" type="submit">Регистрация</button>
        </form>
      </div>

      <div class="login-links">
        <p class="text-center">Есть аккаунт? <a class="txt-brand" href="{% url 'login' %}"><font color=#29aafe>Войти</font></a></p>
      </div>
    {% endblock content %}
