{% extends 'home.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    {% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% elif message.tags == 'error' %}
     <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    <div class="container">

         <div class="row" id="real-estates-detail">
         <div class="col-lg-4 col-md-4 col-xs-12">
         <div class="panel panel-default">

         <div class="card" style="width: 18rem;">
            <div class="text-center">
                <strong>User</strong>
                <hr>
                     <img src="{{ selected_user.profile.avatar.url }}" class="avatar-img img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">{{ selected_user.username }}</h5>
              <p class="card-text">{{ selected_user.profile.bio|linebreaks }}</p>
              {% if selected_user.id == user.id %}
              <a class="btn btn-primary" href="{% url 'edit_profile' selected_user.username %}">Edit profile</a>
                {% else %}
                <a class="btn btn-primary" href="#">Write</a>
                {% endif %}
            </div>
          </div>
        </div>

         </div>
         </div>

        <div class="card" style="margin-left: 80px; width: 500px;">
        <div class="container">
            <br>
         </div><br>
         <div class="container">
            <div class="row row-cols-2">
                <dd class="col-sm-6 list-group-item list-group-item-primary">Email</dt>
                <dd class="col-sm-6 list-group-item-secondary">{{ selected_user.email }}</dd>

            </div>
            <div class="row row-cols-2">
                <dd class="col-sm-6 list-group-item list-group-item-primary">City</dt>
                <dd class="col-sm-6 list-group-item-secondary">{{ selected_user.profile.city }}</dd>

            </div>
            <div class="row row-cols-2">
                <dd class="col-sm-6 list-group-item list-group-item-primary">Date of birth</dt>
                <dd class="col-sm-6 list-group-item-secondary">{{ selected_user.profile.birth_date|date:"d M Y" }}</dd>
            </div>
            <div class="row row-cols-2">
                <dd class="col-sm-6 list-group-item list-group-item-primary">Gender</dt>
                <dd class="col-sm-6 list-group-item-secondary">{{ selected_user.profile.get_gender_display }}</dd>
            </div>
            <div class="row row-cols-2">
                <dd class="col-sm-6 list-group-item list-group-item-primary">Relationships</dt>
                <dd class="col-sm-6 list-group-item-secondary">{{ selected_user.profile.get_relationship_display }}</dd>

            </div>

        </div><br>
          </div>
            
         </div>
        </div>

        </div>
{% endblock content %}