<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><b>VFriends</b></h1>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-info">Войти</a>
        <br>
        <a href="{% url 'signup' %}" class="btn btn-primary">Регистрация</a>
    {% endif %}

    {% block content %}
    {% endblock content %}
</body>
</html>