{% extends "home.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div class="container" style="display: inline-flex;flex-direction:row;margin-left: 80px;">
<section>
<div class="container" style="width: 400px;">
<div class="card">
    <div class="card-body post">
        <div class="post-title">
            {% if post.user.profile.avatar.name %}
                <img src="{{ post.user.profile.avatar.url }}" class="post-author-img img-thumbnail">
            {% else %}
                <img src="{% static 'media/1.png' %}" class="post-author-img img-thumbnail">
            {% endif %}
            <div class="post-author">
                {{ post.user }}
            </div>
            <div class="post-datetime">
              {{ post.created_at }}
            </div>
        </div>
        {% if post.photo.name %}
            <img src="{{ post.photo.url }}" class="img-thumbnail"><br>
        {% endif %}
        <div class="post-text">
            {{ post.text|default_if_none:""|linebreaks|urlize }}
        </div>
        <p class="text-danger ml-3">
            <b style="margin-left: 10px;"><i>{{ post.tags }}</i></b>
            <div class="container" style="display: flex;justify-content:space-between;">
            <form action="{% url 'post-like' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like {{ post.likes.count }}</button>
            </form>
            <div>
            {% if post.user == user %}
            <a href="{% url 'post-edit' post.id %}"><img src="{% static 'media/edit.png' %}"></a>
            <a href="{% url 'post-delete' post.id %}"><img src="{% static 'media/delete.png' %}"></a>
            {% endif %}
          </div>
          </div>
        </p>
    </div>
    <div class="card-footer">

        {% if post.details.all %}
        {% for detail in post.details.all %}
        <div class="comment">
          <div class="post-title">
              {% if detail.username.profile.avatar.name %}
                  <img src="{{ detail.username.profile.avatar.url }}" class="post-author-img img-thumbnail">
              {% else %}
                  <img src="{% static 'media/1.png' %}" class="post-author-img img-thumbnail">
              {% endif %}
              <div class="comment-body">
                  <span class="comment-author">{{ detail.username }}</span> {{ detail.comment|default_if_none:""|urlize }}
                  <div class="post-datetime">
                      {{ detail.comment_date|date:"d M Y H:i" }}
                  </div>
              </div>
          </div>
      </div>    
      {% endfor %}
      {% endif %}   
      
      <div id="comments-list-post-{{ post.id }}">
        {% for comment in post.comments.all %}
            {% place_comment comment %}
        {% endfor %}
      </div>

        <div class="comment-form">
            {% if post.user.profile.avatar.name %}
                <img src="{{ post.user.profile.avatar.url }}" class="post-author-img img-thumbnail">
            {% else %}
                <img src="{% static 'media/1.png' %}" class="post-author-img img-thumbnail">
            {% endif %}
            <div style="display: flex; margin-top: 4px;">
                <input class="form-control form-control-sm comment-input"
                        placeholder="Оставить комментарий"  data-post-id="{{ post.id }}">
            </div>
        </div>
    </div>
</div>

</div>
</section>
</div>
{% endblock content %}