{% extends "home.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card card-signin my-5">
                <div class="card-body">
                    <a href="{{ post.user }}"><img src="{{ post.user.profile.avatar.url }}" class="rounded-circle"
                        width="30" height="30" alt="" /></a>
                
                    <a class="text-dark" href="{{ post.user }}"><b>{{ post.user }}</b></a>
                    <br /><small class="text-muted">Posted on {{ post.created_at }}</small>
                    <br /><br />
                    <p class="card-text text-dark">{{ post.text }}</p>
                </div>
                {% if post.photo %}
                <a href="{{ post.photo }}"><img class="card-img-top" src="{{ post.photo.url }}" alt="" /></a>
                {% endif %}
                {% if post.tags %}
                <br />
                <p class="text-danger ml-3">
                    <b><i>{{ post.tags }}</i></b>
                </p>
                {% endif %}
                <div class="card-footer">
                    <button class="btn btn-white mr-3 like" id="{{ post.id }}">
                        {% if post in liked_post %}
                        <a href="" style="color: red" id="likebtn{{ post.id }}">
                            Unlike</a>
                        {{post.likes.count}} {% else %}
                        <a href="" style="color: green" id="likebtn{{ post.id }}">
                            Like</a>
                        {{post.likes.count}} {% endif %}
                    </button>
                    <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Comments </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
    href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}

    {% endblock content %}