{% extends "home.html" %} {% load static %}{% load static my_filters %}{% block content %}
<div class="container" style="display: inline-flex;flex-direction:row;margin-left: 80px;">
<section>
<div class="container" style="width: 400px;">
  <div class="timeline">
    {% for post in posts %}
        <div class="card">
            <div class="card-body post">
                <div class="post-title">
                    {% if post.user.profile.avatar.name %}
                        <img src="{{ post.user.profile.avatar.url }}" class="post-author-img img-thumbnail">
                    {% else %}
                        <img src="{% static 'media/1.png' %}" class="post-author-img img-thumbnail">
                    {% endif %}
                    <div class="post-author">
                        {{ post.user }}
                    </div>
                    <div class="post-datetime">
                      {{ post.created_at }}
                    </div>
                </div>
                {% if post.photo.name %}
                    <img src="{{ post.photo.url }}" class="img-thumbnail"><br>
                {% endif %}
                <div class="post-text">
                    {{ post.text|default_if_none:""|linebreaks|urlize }}
                </div>
            </div>
            <div class="card-footer">
                <div id="comments-list-post-{{ post.id }}">

                    {% for comment in post.comments.all %}
                        {% place_comment comment %}
                    {% endfor %}

                </div>
                <div class="comment-form">
                    {% if post.user.profile.avatar.name %}
                        <img src="{{ post.user.profile.avatar.url }}" class="post-author-img img-thumbnail">
                    {% else %}
                        <img src="{% static 'media/1.png' %}" class="post-author-img img-thumbnail">
                    {% endif %}
                    <div style="display: flex; margin-top: 4px;">
                        <input class="form-control form-control-sm comment-input"
                               placeholder="Оставить комментарий"  data-post-id="{{ post.id }}">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    <!-- <div class="row">
        <div class="col-md-20">
            {% for post in posts %}
            <div class="card card-signin">
                <div class="card-body">
                    <a href="{{ post.user }}"><img src="{{ post.user.profile.avatar.url }}" class="rounded-circle"
                            width="30" height="30" alt="" /></a>

                    <a class="text-dark" href="{{ post.user }}"><b>{{ post.user }}</b></a>
                    <br /><small class="text-muted">Posted on {{ post.created_at }}</small>
                    <br /><br />
                    <p class="card-text text-dark">{{ post.text }}</p>
                </div>
                {% if post.photo %}
                <a href="{{ post.photo }}"><img class="card-img-top" src="{{ post.photo.url }}" style="width: 300px;height: 300px;" /></a>
                {% endif %}

                <div class="card-footer" style="display: flex;flex-direction:row;justify-content: space-around;">
                                  {% if post.tags %}
                <br />
                <p class="text-danger ml-3">
                    <b style="margin-left: 10px;"><i>{{ post.tags }}</i></b>
                </p>
                {% endif %}
                    <form action="{% url 'post-like' post.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like {{ post.likes.count }}</button>
                    </form>
                    <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Comments </a>
                </div>
            </div>
            {% endfor %}
        
        </div>
    </div> -->
</div>
</section>
<section>
<div class="container" style="margin-left: 30px;">
    <div class="row">
      <div class="col-sm-5 col-md-8 col-lg-11 mx-auto">
        <div class="card card-signin">
          <div class="card-body">
            <h5 class="card-title text-center"><b>Add new post</b></h5>
            <form class="form-signin" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <br/>
                <textarea class="form-control form-control-sm" type="text" name="text"
                                      placeholder="What's new?" required></textarea>
                <label for="image">Attach a photo:</label>
                <input class="form-control form-control-sm" type="file" id = "image" name="photo"><br>
                <input class = "form-control form-control-sm" type="text" name="tags" placeholder="Tag"><br>
                <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Add">
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
    href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}

{% endblock content %}